{LARGE_FILE} filter=lfs diff=lfs merge=lfs -text
terraform-infra filter=lfs diff=lfs merge=lfs -text
terraform-provider-aws_v5.17.0_x5 filter=lfs diff=lfs merge=lfs -text
terraform.tfstate filter=lfs diff=lfs merge=lfs -text
.terraform.lock.hcl filter=lfs diff=lfs merge=lfs -text
terraform.tfstate.backup filter=lfs diff=lfs merge=lfs -text
